services:
    # Webkul\UVDesk\CommunityBundle\Help\:
    #     resource: '../../Help/*'
    #     tags: ['console.command']
    
    # Webkul\UVDesk\CommunityBundle\Command\:
    #     resource: '../../Command/*'
    #     arguments: ['@service_container', '@doctrine.orm.entity_manager']
    #     tags: ['console.command']

    # support.service:
    #     public: true
    #     class: Webkul\UVDesk\CommunityBundle\Services\SupportService
    #     arguments: ['@service_container', '@request_stack', '@doctrine.orm.entity_manager']
