services:
    Webkul\UVDesk\CoreBundle\Console\:
        resource: '../../Console/*'
        exclude: '../../Console/{UTF8Symbol.php,ANSIEscapeSequence.php}'
        arguments: ['@service_container', '@doctrine.orm.entity_manager']
        tags: ['console.command']
    
    Webkul\UVDesk\CoreBundle\Fixtures\:
        resource: '../../Fixtures/*'
        arguments: ['@service_container', '@doctrine.orm.entity_manager']
        tags: ['doctrine.fixture.orm']

    uvdesk.service:
        public: true
        class: Webkul\UVDesk\CoreBundle\Services\HelpdeskService
        arguments: ['@service_container', '@request_stack', '@doctrine.orm.entity_manager']
    
    user.provider:
        public: true
        class: Webkul\UVDesk\CoreBundle\Providers\UserProvider
        arguments: ['@security.firewall.map', '@service_container', '@request_stack', '@doctrine.orm.entity_manager']
    
    user.service:
        public: true
        class: Webkul\UVDesk\CoreBundle\Services\UserService
        arguments: ['@service_container', '@request_stack', '@doctrine.orm.entity_manager']
    
    email.service:
        public: true
        class: Webkul\UVDesk\CoreBundle\Services\EmailService
        arguments: ['@service_container', '@request_stack', '@doctrine.orm.entity_manager']
    
    ticket.service:
        public: true
        class: Webkul\UVDesk\CoreBundle\Services\TicketService
        arguments: ['@service_container', '@request_stack', '@doctrine.orm.entity_manager']
    
    uvdesk.core.fs.upload.manager:
        public: true
        class: Webkul\UVDesk\CoreBundle\FileSystem\DefaultManager
