services:
    Webkul\UVDesk\CoreBundle\CLI\:
        resource: '../../CLI/*'
        exclude: '../../CLI/{UTF8Symbol.php,ANSIEscapeSequence.php}'
        arguments: ['@service_container', '@doctrine.orm.entity_manager']
        tags: ['console.command']
    
    Webkul\UVDesk\CoreBundle\Fixtures\:
        resource: '../../Fixtures/*'
        arguments: ['@service_container', '@doctrine.orm.entity_manager']
        tags: ['doctrine.fixture.orm']

    # support.service:
    #     public: true
    #     class: Webkul\UVDesk\CommunityBundle\Services\SupportService
    #     arguments: ['@service_container', '@request_stack', '@doctrine.orm.entity_manager']
