<p></p>
<p></p>
<p style="text-align: center; ">{%global.companyLogo%}</p>
<p style="text-align: center; ">
    <br />
</p>
<p style="text-align: center; ">
    <b>
        <span style="font-size: 18px;">New conversation!!</span>
    </b>
</p>
<p>
    <br />Hello {%ticket.agentName%},</p>
<p>
    <br />
</p>
<p></p>
<p>
    <span style="line-height: 1.42857143;">Collaborator of the ticket #{%ticket.id%} has added a reply. You can check the ticket from here&nbsp;</span>{%ticket.link%}</p>
<p>
    <br />
</p>
<p>Here go the message:</p>
<p>{%ticket.threadMessage%}
    <br />
</p>
<p>
    <br />
</p>
<p>Thanks and Regards</p>
<p>{%global.companyName%}
    <br />
</p>
<p></p>
<p></p>
<p></p>