<p></p>
<p></p>
<p style="text-align: center; ">{%global.companyLogo%}
    <br />
</p>
<p>
    <br />Hello&nbsp;{%ticket.collaboratorName%}
    <span style="line-height: 1.42857143;">,</span>
</p>
<p>
    <span style="line-height: 1.42857143;">
        <br />
    </span>
</p>
<p>You are added as a collaborator in the ticket #{%ticket.id%}. You can check the ticket from this link&nbsp;{%ticket.link%}.</p>
<p>
    <br />
</p>
<p>Thanks and Regards</p>
<p>{%global.companyName%}
    <br />
</p>
<p></p>