<p></p>
<p></p>
<p style="text-align: center; ">{%global.companyLogo%}</p>
<p style="text-align: center; ">
    <br />
</p>
<p>Hello&nbsp;{%user.userName%},</p>
<p>
    <br />
</p>
<p>You are added in the task #{%task.id%}. You can check the details of the task from this link {%task.link%}</p>
<p>
    <br />
</p>
<p>Thanks and Regards</p>
<p>{%global.companyName%}
    <br />
</p>
<p>
    <br />
</p>
<p></p>